*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.txt-white{
    color: #fff;
}
.bg-white{
    background-color: #fff;
}
.txt-brown{
    color: #FD6E0A;
}
.bg-brown{
    background-color: #FD6E0A;
}

.btn{
    border: 0;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: large;
}


/* header styles */
.header{
    display: flex;
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 100px;

}
.no-content{
    width: 60%;
}
.header-content{
    width: 40%;
    text-align: right;
}
.header-desc{
    margin: 20px 0px 20px 0px;
}

/* main styles */
main{
    padding: 100px;
}

/* my failure section */
.my-failure{
    display: flex;
}
.my-failure-content{
    margin-top: 150px;
}
.my-failure ul{
    list-style-image: url(../images/icons/list-style.png);
}
.my-failure-desc{
    padding: 20px 0px 20px 0px;
}

/* my plan section styles */
.my-plan{
 margin: 50px 0px 50px 0px;
 text-align: center;
}
.my-plan h1{
    padding: 20px 0px 30px 0px;
}
.my-plan-content{
    display: flex;
    justify-content: space-between;
}
.title-div{
    font-weight: bold;
    padding: 10px 0px 10px 0px;
}


/* positive mind section */
.positive-mind{
    background-image:
    linear-gradient(to bottom, rgba(253, 110, 10, 0.73), rgba(250, 146, 71, 0.40)),
    url('../images/watch.png');
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 30px 40px;
}
.positive-mind-btn{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* positive thinking exercise */
.positive-thinking-exercise{
    margin-top: 30px;
    border: 2px solid #FD6E0A;
}
.positive-thinking-exercise h1{
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
.positive-thinking-table{
    margin-bottom: 30px;
}
table{
    margin: 0 auto;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px 20px 5px 20px;
}

/* footer styles */
footer{
    background-color: #000;
    color: #fff;
    padding: 100px;
    display: flex;
}
.future{
    padding-right: 150px;
}
footer p{
    padding: 10px 0px 10px 0px;
}
.future img{
    padding-right: 10px;
}
.subscribe-form input[type="email"]{
    border-radius: 5px;
    background-color: #000;
    padding: 10px 10px;
    border: 1px solid #fff;
}
